body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #5d5d5d;
}

button {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  background-color: #FFC300;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #FFD43B;
}

#mot {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: #5d5d5d;
  margin-top: 50px;
}

img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}
